/* notice */
@font-face {
  font-family: "P3rman3nt-Book";
  src: url("../DINAMO_fonts/ABCP3rman3nt-Book-Trial.woff2") format("woff2"),
      url("../DINAMO_fonts/ABCP3rman3nt-Book-Trial.woff2") format("woff");
}

@font-face {
  font-family: "P3rman3nt-Bold";
  src: url("../DINAMO_fonts/ABCP3rman3nt-Bold-Trial.woff2") format("woff2"),
      url("../DINAMO_fonts/ABCP3rman3nt-Bold-Trial.woff") format("woff");
}

html{
  font-family: P3rman3nt-Bold;
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  height: 100vh;
  width: 100vw;
}
/* notice */
#startbutton{
  display: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: P3rman3nt-Bold;
}

/* ----------------------------------------------------------- */

.statusBar{
  background-color: white;
  font-size: 1.1rem;

  justify-content: center;
  align-items: center;
  
  display: flex;
  position: fixed;
  top: 3vh;
  left: 40%;
  right: 40%;
  
  min-width: 6rem;
  min-height: 3vh;

  border: 1.5px solid black;
  border-radius: 25px;
  box-shadow: 3px 7px;
}

header{
  background-color: #f3f3f3;
  width: 100vw;
}

.title{
  text-align: center;
  font-size: 2.5rem;
  margin-top: 7vh;
  /* padding-top: 3vh; */
  margin-bottom: 0; 
  /* padding-bottom: 1rem;  */
}

.subtitle{
  text-align: center;
  font-weight: 400;
  font-size: .75rem;
  margin: 0;
  padding-bottom: 1vh; 
}

footer {
  width: 100vw;
  background-color: #142274d3;
  color: white;
  text-align: center;
  padding: 0.5rem 0;
  margin: 0;
}

p{
  margin: 0;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* ----------------------------------------------------------- */

.titleContainer{
  text-align: center;
  padding: 0.5rem;
  background-color: rgba(255, 192, 203, 0.788);
  font-size: 1.6rem;
}

.videoContainer{
  width: 50vw;
  height: auto;
}

.videoButtonsContainer{
  position: relative;
  background-color: black;
  /* margin-top: -5px; */
  height: 4rem;
  margin-top: -0.35rem;
}

#cameraCaptureButton:hover{
  scale: 1.1;
}

#cameraCaptureButton{
  position: absolute;
  left: 50%;
  top: 12%;
  transform: translateX(-50%);
  /* transform: translateY(-50%); */

  background-image: url('./images/shutter_button.jpg');
  background-size: contain;
  height: 3rem;
  width: 3rem;

  border: none;
  cursor: pointer;
}

/* switch */
/* source: https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  width: 60px;
  height: 34px;
  
  /* right: 1rem; */
  margin-left: 1em;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

/*슬라이더 그 자체*/
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/*동그란원 - 이전*/
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
/*원 색깔*/
input:checked + .slider {
  background-color: grey;
}

/*동그란 원 움직이는 이펙트*/
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* 바깥 */
.slider.round {
  border-radius: 34px;
}
/*안에 동그라미 border radius*/
.slider.round:before {
  border-radius: 50%;
}
/* switch - end */

/* ----------------------------------------------------- */

.canvasContainer{
  width: 50vw;
}

.canvasButtonsContainer{
  position: relative;
  background-color: black;
  height: 4rem;
  margin-top: -0.34rem;
}

.canvasButtonPenContainer{
  display: flex;
  background-color: rgb(228, 228, 228) ;
  position: absolute;

  left: 50%;
  transform: translateX(-50%);

  border-radius: 15px;
}

#whiteButtonPen:hover, #blackButtonPen:hover, #redButtonPen:hover, #yellowButtonPen:hover{
  scale: 1.1;
}

#whiteButtonPen{
  display: none;
}

#blackButtonPen{
  background-color: black;
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 5px;
  cursor: url('./images/cursor.cur');
}

#redButtonPen{
  background-color: red;
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 5px;
  cursor: url('./images/cursor.cur');
}

#yellowButtonPen{
  background-color: yellow;
  height: 4rem;
  width: 4rem;
  border: none;
  border-radius: 5px;
  cursor: url('./images/cursor.cur');
}

#saveButton:hover{
  scale: 1.1;
}

#saveButton{
  background-color: black;
  position: absolute;
  cursor: pointer;
  border: none;
  
  height: 3rem;
  width: 3rem;
  
  right: 0rem;
  top: 50%;
  
  transform: translateY(-50%);

  font-size: 2rem;
  color: white;
}

#removeButton{
  background-color: black;
  position: absolute;
  cursor: pointer;
  border: none;
  
  height: 3rem;
  width: 3rem;
  
  /* right: 3rem; */
  top: 50%;
  
  transform: translateY(-50%);

  font-size: 2rem;
  color: white;
}

#video {
  width: 50vw;
  border-right: 1px solid black;
}

#canvas {
  width: 50vw;
  /* min-height: 80%; */
  height: auto;
  cursor: url('./images/cursor.cur');
}

@media screen and (max-width: 592px), (orientation: portrait) {
  .container{
    display: block;
  }
  
  #video {
    width: 100vw;
  }

  .videoContainer{
    width: 100vw;
  }

  .canvasContainer{
    width: 100vw;
  }

  #canvas {
    width: 100vw;
    height: auto;
  }
}